.header-top > ul > li:hover ul.ht-dropdown,
.cart-box ul li:hover ul.ht-dropdown,
.vertical-menu-list > li:hover > ul.ht-dropdown,
.vertical-menu-list ul.ht-dropdown.mega-child li:hover ul.ht-dropdown,
#cate-toggle .category-sub > li:hover > ul.ht-dropdown.mega-child,
.header-bottom-list li:hover > ul.ht-dropdown {
    opacity: 1;
    visibility: visible;
    -webkiit-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
